* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

/*==========================================================================================*/
/*==================================== HEADER - LOGO - NAVBAR - HAMBURGER - SLOGAN =========*/
/*==========================================================================================*/

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;


    background-color: rgb(0, 70, 130);
    color: #fff;

    padding: 0px 0px 0px 30px;
    position: relative;
    min-height: 150px;
}

.background-image {
    flex: 1;
    background-image: url("img/rw-logo-s.png");
    /* Repeat the image horizontally and vertically */
    background-repeat: no-repeat;
    margin-top: 15px;
    min-height: 45px;
    min-width: 160px;

    overflow: hidden;
    flex: 0 0 auto; /* Remove fixed sizing */

    align-items: center; /* Center items vertically */
    justify-content: center;
}

.navbar {
    flex: 2;
    background-color: #ffffff;
    margin-top: 15px;
    padding: 10px; /*add space between the navbar items*/
    min-height: 45px;
    /*overflow: hidden;*/
    flex: 0 0 auto; /* Remove fixed sizing */
    display: flex; /* Ensure nav container is a flex container */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */

    border-radius: 0px 5px 5px 0px; /* give radius to the right side of the navbar */

}

.navbar ul {
    list-style: none;
    display: flex;

}

.navbar ul li {
    margin-right: 20px;
    position: relative;
    z-index: 1000; /*  sets the drop-down list on top of all layers. Adjust this value as needed */
    background-color: #ffffff;

}

.navbar .submenu li {
    padding: 10px;
    z-index: 1000; /*  sets the drop-down list on top of all layers. Adjust this value as needed */
    background-color: #ffffff;

}

.navbar ul li a {
    color: rgb(0, 70, 130);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
}

.navbar .has-submenu .submenu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    list-style: none;
    padding: 20px;
    top: 100%; /* Position the submenu below the parent item */
    left: 0;
    width:max-content; /* width of the submenu */

  }

.navbar .has-submenu:hover .submenu {
    display: block;
}
.navbar .has-submenu:hover .submenu {
  display: block;
}

.has-submenu ul li a { /* highlight the items when it hovers */
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  }

.slogan {
    flex: 2;
    margin-top: 15px;
    padding-left: 100px;
    /*overflow: hidden;*/
    flex: 0 0 auto; /* Remove fixed sizing */
    display: flex; /* Ensure nav container is a flex container */
    vertical-align: middle;
    max-height: 65px;
    min-width: 160px;
    font-family:MV Boli;
    font-size: 24px;
    color: #ffffff;

}
.slogan p{font-family:MV Boli; font-size: 23px;  color: #ffffff;}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    z-index: 1000; /* sets the hamburger list on top of all layers. Adjust this value as needed */

}

.hamburger .dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 70, 130);
    list-style: none;
    padding: 0;
    top: 100%; /* Position the dropdown below the hamburger */
    left: 0;
    width: 100%;
}

.hamburger .dropdown-menu li {
    padding: 10px;

}

.hamburger .has-submenu .submenu {
    display: none;
    background-color: rgb(0, 70, 130);
    padding: 10px;
}

.hamburger .has-submenu:hover .submenu {
    display: block;
}

.hamburger ul {
    list-style: none;
    display: flex;
    font-size: 16px;

}

.hamburger ul li {
    margin-right: 20px;
    position: relative;
}

.hamburger .submenu li {
    padding: 10px;
}

.hamburger ul li a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 800px) {
    .navbar, .slogan {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger .dropdown-menu {
        display: none;
    }

    .hamburger.open .dropdown-menu {
        display: block;
    }

    .background-image {
      flex: 1;
      background-image: url("img/rw-logo-s-app.png");
      /* Repeat the image horizontally and vertically */
      background-repeat: no-repeat;
      margin-top: 15px;
      min-height: 45px;
      min-width: 170px;
  
      overflow: hidden;
      flex: 0 0 auto; /* Remove fixed sizing */
  
      align-items: center; /* Center items vertically */
      justify-content: center;
  }
    
}


/*==========================================================================================*/
/*=======================END OF HEADER - LOGO - NAVBAR - HAMBURGER - SLOGAN ================*/
/*==========================================================================================*/


/*==========================================================================================*/
/*======================= LANGUAGE BAR ===================================================*/
/*==========================================================================================*/
.lang-bar{
  overflow: hidden;
  background-color: rgb(240, 245, 245);
  font-family: calibri;
  font-size: 1.1em;
  direction: rtl;
  padding: 2px 15px 2px 0px;
  color: rgb(0, 70, 130);
  a{  
    color: rgb(0, 70, 130);  
    }  
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
  .lang-bar{
    overflow: hidden;
    background-color: rgb(240, 245, 245);
    font-family: calibri;
    font-size: 0.8em;
    direction: rtl;
    padding: 2px 15px 2px 0px;
    color: rgb(0, 70, 130);
    a{  
      color: rgb(0, 70, 130);  
      }  
  }
}

/*==========================================================================================*/
/*=======================END OF LANGUAGE BAR ===============================================*/
/*==========================================================================================*/



/*==========================================================================================*/
/*======================= MAIN CONTAINER ===================================================*/
/*==========================================================================================*/


.main {
    flex: 1; /* Main content takes all remaining space */
    display: flex;
    flex-direction: column;
    Margin:auto;/* this two attributes, Margin and max-width put the website content in the middle */
    padding: 20px;
    min-height: 500px;

    background-color: #eaeaea; /* رنگ پایه خاکستری روشن */
  background-image: 
    radial-gradient(circle, rgba(255, 255, 255, 0.7) 1%, transparent 1%), /* لایه 1 */
    radial-gradient(circle, rgba(0, 0, 0, 0.05) 1%, transparent 1%), /* لایه 2 */
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 1%, transparent 1%), /* لایه 3 */
    linear-gradient(90deg, rgba(0, 0, 0, 0.03) 0.1%, transparent 1%), /* لایه 4 */
    linear-gradient(45deg, rgba(255, 255, 255, 0.05) 1%, transparent 1%); /* لایه 5 */
  background-size: 
    5px 5px, /* لایه 1 */
    7px 7px, /* لایه 2 */
    10px 10px, /* لایه 3 */
    100px 100px, /* لایه 4 */
    150px 150px; /* لایه 5 */
  background-blend-mode: soft-light, multiply, overlay, darken, normal;

  }
  
  /*==========================================================================================*/
/*======================= END OF MAIN CONTAINER =============================================*/
/*==========================================================================================*/


 /*==========================================================================================*/
/*======================= Slideshow =============================================*/
/*==========================================================================================*/
.mySlides {display:none;}

.top-row {
  /*margin: 0 20px;*/
  padding: 1px;
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow items to wrap if needed */
  border-radius: 5px;
  margin: 5px 30px 1px 30px;
  clear: both;
  background-color: #fbfbfb;
}

.top-img {
  width: 100%;
  height: auto;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  display: none; /* remove this line, to get the slide number in the top left side of slides*/
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;  /* display: inline-block; will show the dots under slideshow*/
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

 /*==========================================================================================*/
/*======================= END OF Slideshow =============================================*/
/*==========================================================================================*/


/*==========================================================================================*/
/*==================================== CARDS ===============================================*/
/*==========================================================================================*/
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-column {
  flex: 1 1 20%;
  padding: 0px 10px;
  margin-top: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
}

/* Responsive columns */
@media screen and (max-width: 800px) {
  .card-column {
      flex: 1 1 45%;
      margin-bottom: 10px;
  }
}
  
  /*=========================================================================================*/
  /*=================================== END OF CARDS =========================================*/
  /*==========================================================================================*/


  /*==========================================================================================*/
/*==================================== Service pages ===============================================*/
/*==========================================================================================*/

  .service-container {
    padding: 0px;
    background-color: #fbfbfb;
    width: 80%;
    margin-left: 10%;
      }
  
  
  .service-column-large {
    float: left;
    width: 80%;
    padding: 0px 5px 5px 5px;
    border-radius: 5px;
  }
  img {
    max-width: 100%; /* Adjust as needed */
    height: auto;
  }

  .service-row {
    /*display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap if needed */
    background-color: #fbfbfb;
    padding: 5px 20px 20px 10px;
    border-radius: 5px;
    margin-top: 5px;
    clear: both;
  }

  .service-row-child {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap if needed */
    border-radius: 5px;
    margin-top: 5px;
    clear: both;
    background-color: #fbfbfb;
  }
  .sr-column-left {
    float: left;
    max-width: 80%;
    background-color: #fbfbfb;
    text-align: justify;

  }
  .sr-column-right {
    float: right;
    background-color: #fbfbfb;
    max-width: 20%;
    padding-top: 30px;
    text-align: justify;

  }
  .service-row-child-2 {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap if needed */
    clear: both;
    background-color: #fbfbfb;
    padding-left: 10px;
    text-align: justify;
    width: 100%;
  }
  
  .service-row p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; /* Set line height for headings */
    margin-left: 15 px;
    border-radius: 5px;

  }
 
  .service-row h1, .service-row-child-2 h1, .sr-column-left h1,
  .service-row h2, .service-row-child-2 h2, .sr-column-left h2,
  .service-row h3, .service-row-child-2 h3, .sr-column-left h3,
  .service-row h4, .service-row-child-2 h4, .sr-column-left h4,
  .service-row h5, .service-row-child-2 h5, .sr-column-left h5,
  .service-row h6, .service-row-child-2 h6, .sr-column-left h6
   {
  display: block; /* Make headings inline elements */
  margin-right: 10px; /* Add spacing between headings */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 3; /* Set line height for headings */
  margin-left: 10px;
  }
  .service-row ul,ol,li,dl, dt,dd{margin-left: 20px;}
  .service-row-child-2 ul,ol,li,dl, dt,dd{margin-left: 20px;}
  .sr-column-left ul,ol,li,dl, dt,dd{margin-left: 20px;}

  
  
  
  .service-column-small {
    float: right;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
  }

  


/* Add a card effect for articles */
.service-right-card {
  background-color: rgb(250, 250, 250);
  padding: 15px;
  margin-top: 5px;
  border-radius: 10px;
  flex-wrap: wrap; /* Allow items to wrap if needed */

  
}


/* Media query for screens below 800px */
@media screen and (max-width: 800px) {
  .main{
    padding: 1px;
 
  
  }
  .service-container{
    width: 100%;
    margin-left: 0%;
    padding-right: 0px;

  }
  .service-column-large {
    float: left;
    width: 100%;
    padding: 5px 1px 5px 2px;
    border-radius: 5px;
    margin-left: 2px;
  }
  .service-column-small {
    float: right;
    width: 20%;
    padding: 5px 2px 5px 1px;
    margin-right: 2px;
    border-radius: 5px;
    display: none;
  }
  .service-row {
    /*display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap if needed */
    background-color: #fbfbfb;
    padding: 0px 0px 2px 0px;
    border-radius: 5px;
    margin-top: 5px;
  }

  .service-row h1 {
    font-size: 20px; /* Decrease font size for h1 to one level smaller (adjust as needed) */
  }
  .service-row h2 {
    font-size: 18px; /* Decrease font size for h2 to one level smaller (adjust as needed) */
  }
  .service-row h3 {
    font-size: 15px; /* Can be left as is or adjust slightly */
  }
  .service-row h4 {
    font-size: 14px; /* Can be left as is or adjust slightly */
  }
  .service-row h5 {
    font-size: 12px; /* Can be left as is or adjust slightly */
  }
  .service-row p {
    font-size: 14px;
  }
  .service-right-card h3{
    font-size: 12px;
  }
}



 /*=========================================================================================*/
  /*=================================== END OF Service pages ================================*/
  /*==========================================================================================*/

/*==========================================================================================*/
/*==================================== FOOTER ===============================================*/
/*==========================================================================================*/

  .footer {
    background-color: rgb(0, 70, 130);
    padding: 10px;
    /*display: flex;
    justify-content: space-between;*/
    align-items: center;
    text-align: center;
  }
  
  .footer p {  /*footer text decoration*/
    color: #fff;
    font-family:"Calibri";
    font-style: normal;
    font-size: 18px;
    align-items: center;
    text-align: center;
  
  }

  /*==========================================================================================*/
/*============================= END OF FOOTER ===============================================*/
/*==========================================================================================*/


  /*==========================================================================================*/
/*============================= Social media icons ===============================================*/
/*==========================================================================================*/

.fa {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  color: white;
}
.fa-telegram {
  background-color: #2CA5E0;
  color: white;
}
.fa-whatsapp  {
  background: rgb(60, 179, 113);
  color: white;
}

.fa-globe{
  background: rgb(255, 255, 255);
  color: white;
}

.fa-phone{
  background: rgb(255, 255, 255);
  color: white;

}
 /*==========================================================================================*/
/*============================= END OF Social media icons ===============================================*/
/*==========================================================================================*/




/*==========================================================================================*/
/*============================= Contact ===============================================*/
/*==========================================================================================*/

/* Create two columns that float next to eachother */
.contact-column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  min-height: 200px;
}

/* Clear floats after the columns */
.contact-row:after {
  content: "";
  display: table;
  clear: both;
}



/* css for form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* css for address */

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #1f1f1f;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #1f1f1f;
}

.place {
  margin-left: 60px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #1f1f1f;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #1f1f1f;
  text-decoration: none;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .contact-column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}





/*==========================================================================================*/
/*============================= END OF contact ===============================================*/
/*==========================================================================================*/

